doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        p Título: #{film.Title}
        p Año: #{film.Year} 
        p Director: #{film.Director} 
        p Plot: #{film.Plot}  
        img(src=film.Poster, alt=film.Title)